services:
  searxng:
    image: searxng/searxng:latest
    container_name: searxng
    ports:
      - "8888:8080"
    volumes:
      - C:/Users/james/SearxNG/settings:/etc/searxng
    environment:
      - SEARXNG_SECRET_KEY=OGE2NGQyMmEtMjZlOS00YTM3LWE1YWYtNDQwNzhjZjM5MjNk